#container {
    display: flex;
    flex-wrap: wrap;
    margin: 20;
    justify-content: center;
    align-items: center;
    border: black solid;
}
#container div {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}